@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  position: relative;
  z-index: 9999;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.bg-gradient-lime{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 6%, rgba(32,31,32,1) 64%, rgba(34,43,13,1) 100%);
}